
<%= form_for(@user ,:html => {:class => 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!--<div class="field form-group">-->
    <!--<%= f.label '昵称' %>-->
    <!--<%= f.text_field :nickname ,class: "form-control", placeholder:"输入昵称"%>-->
  <!--</div>-->
        <div class=" form-group">
          <!--<%= f.label '用户名', class: 'col-sm-3 control-label text-right col-md-2 col-xs-3' %>-->
              <div class="col-sm-12 col-md-12 col-xs-12">
                <%= f.text_field :username, class: 'form-control', placeholder: '输入用户名' %>
              </div>
         </div>
  <div class=" form-group">
    <!--<%= f.label '邮箱' , class: 'col-sm-3 control-label text-right col-md-2 col-xs-3' %>-->
        <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.text_field :email ,class: 'form-control', placeholder:'输入邮箱'%></div>
  </div>
  <div class=" form-group">
    <!--<%= f.label '密码' , class: 'col-sm-3 control-label text-right col-md-2 col-xs-3' %>-->
        <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.password_field :password ,class: 'form-control', placeholder:'输入密码'%>
        </div>
              </div>
    <div class=" form-group">
      <lable class="sr-only"></lable>
      <!--<%= f.label '确认密码' , class: 'col-sm-3 control-label text-right col-md-2 col-xs-3' %>-->
          <div class="col-sm-12 col-md-12 col-xs-12">
      <%= f.password_field :password_confirmation ,class: 'form-control', placeholder:'再次确认密码'%>
          </div>
    </div>
  <!--<div class=" form-group">-->
    <!--<%= f.label '头像' , class: 'col-sm-3 control-label text-right col-md-2 col-xs-3' %>-->
        <!--<div class="col-sm-9 col-md-9 col-xs-9">-->
    <!--<%= f.file_field :'avatar' %>-->
        <!--</div>-->
  <!--</div>-->
          <div class="col-sm-offset-2 col-md-offset-2 col-xs-offset-2">
          <%= f.submit   class: 'btn btn-primary', value:'注册用户'%>
        </div>
<% end %>
