
      <%= form_tag "/create_login_session" ,:class=>'form-horizontal' do %>
          <div class="form-group">
            <lable class="col-sm-4 col-md-4 control-label">用户名:</lable>
            <div class="col-md-6">
            <%= text_field_tag :username,params[:username]  ,:class=>'form-control'%>
            </div>
          </div>
          <div class="form-group">
            <lable class="col-sm-4 control-label">密　码:</lable>
            <div class="col-sm-6">
            <%= password_field_tag :password,params[:password],:class=>'form-control'%>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
              <div class="checkbox">
                <label>
                  <%= check_box_tag :rememberme,params[:rememberme]%>记住我
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-6">
              <%= submit_tag "登陆" ,:class=>'btn btn-sm btn-primary'%>
            </div>
          </div>

          <%= link_to "没有账号,请注册", sign_path ,:target=>'_blank' %>
      <% end %>