<%= image_tag(current_user.avtar_url(:big)) if current_user.avtar%>
<%= form_for(@user,url:{action:"avtar"},html:{multipart:true,method:"post"}) do |f|%>
    <div class="field">
      <%= f.file_field :avtar%>
      <%= f.hidden_field :avtar_cache %>
      <%= f.submit "上传头像", class: "btn btn-primary btn-sm" %>
    </div>
<% end %>